*{
    margin: 0;
    padding:0;
}
.hint{
    width:100%;
    margin:0;
    padding:4px 0px;
    background:#f9f9f9;
    text-align: center;
    position:fixed;
    left:0;
    bottom:0;
    font-size:14px;
    color:#ccc;
}
.worldList{
    width:400px;
    height:600px;
    background:#333366;
    box-shadow: 0px 0px 8px #ddd;
    margin-bottom:5px;
    border-radius: 8px;
    overflow: auto;
}
.container{
    width:100vw;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#推进{
    padding:10px 16px; 
}
.word{
    list-style: none;
    background:#fff;
    border-radius: 4px;
    margin:10px;
    padding:6px;
}